.root{
  background-color: lightseagreen;
  color: black;
  padding: 20px;
  margin: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pmesssage{
  font-size: small;
}


h2{
  padding: 10px;
  background-color: darkgray;
}