<div class="user-form">
    Displaying some data from parent

    <p *ngIf="allowParentData">
        <b>This is from parent: </b> {{parentData}}
    </p>

    <!-- <form>
        Firstname: <input type="text" name="firstname" (input)="handleFirstNameInput($event)">

        LastName: <input type="text" name="lastname" (input)="handleLastNameInput($event)">
        Password: <input type="password" name="password" (input)="handleLastNameInput($event)">

        <button name="Submit" (click)="handleFormSubmit($event)">Submit</button>
    </form> -->


    <h2>Angular React Forms</h2>

    <form [formGroup]="userForm" (ngSubmit)="handleFormSubmit($event)">

        FirstName: <input type="text" [ngClass]="{'invalid': formSubmitted && formControls.firstName.errors}"
            formControlName="firstName" />
        <br />
        <span *ngIf="formSubmitted && formControls.firstName.errors">FirstName is requid</span>
        <br />
        <br />

        LastName: <input type="text" [ngClass]="{'invalid': formSubmitted && formControls.lastName.errors}"
            formControlName="lastName" />
        <span *ngIf="formSubmitted && formControls.lastName.errors">LastName is requid</span>
        <br />
        <br />
        Email: <input type="email" formControlName="email" [ngClass]="{'invalid': formSubmitted && formControls.email.errors}" />
        <span *ngIf="formSubmitted && formControls.email.errors">Email should be valid</span>
        <br />
        <br />
        Password: <input type="password" formControlName="password" />
        <span *ngIf="formSubmitted && formControls.password.errors">Password minlength 6 requried</span>

        <button type="submit" name="submit">Signup</button>
    </form>
</div>